@page
@model Timetable.RazorWeb.Pages.Admin.scheduleModel
@{
}
<style>
    tr td:not(:last-child) {
        cursor: pointer;
    }

        tr td:not(:last-child):hover {
            background-color: lightgreen;
        }

    .selected {
        color: black;
        background-color: yellow;
    }
</style>

<div class="container">



    @if (Model?.Semesters?.Count is null || Model?.Semesters?.Count == 0)
    {
        <div class="d-flex align-items-center justify-content-center">
            <div dir="rtl" class="m-auto align-items-center justify-content-center d-block text-danger">لايوجد بيانات في كافية لتوليد البرنامج الرجاء إدخال المقررات ثم اسنادها إلى المدرسين ثم العودة إلى هنا</div>
        </div>
    }
    else
    {
        <form asp-page-handler="generate" method="post">
            
           <div class="form-group">
                           <button onclick="return confirm('سيتم حذف برنامج الدوام القديم واستبداله بالبرنامج المولد، هل أنت متأكد من المتابعة؟')" class="edit-save-button generate" type="submit">توليد</button>

            </div>
            <div class="form-group">
                <label dir="rtl" asp-for="@Model.SelectedSemester" class="control-label ms-5"></label>
                <select dir="rtl" asp-for="@Model.SelectedSemester" class="form-select">
                    @foreach (var item in Model?.Semesters)
                    {
                        <option value="@item.SemesterNo">@item.SemesterNo</option>
                    }
                </select>
            </div>


            @*    <form id="yearChangedForm" asp-page-handler="x" method="post">
        *@
            <div class="form-group">
                @if (Model?.Years?.Count is null || Model?.Years?.Count == 0)
                {

                }
                else
                {
                    <label dir="rtl" asp-for="@Model.SelectedYearInput" class="control-label"></label>
                    <select dir="rtl" onchange="$('#yearChangedForm').submit()" asp-for="@Model.SelectedYearInput" class="form-select">
                        @foreach (var item in Model?.Years)
                        {
                            <option value="@item.YearNo">@item.YearNo</option>
                        }
                    </select>
                }
            </div>
            <div class="form-group">
                @if (Model?.Semesters?.Count is null || Model?.Semesters?.Count == 0)
                {

                }
                else
                {
                    <label dir="rtl" asp-for="@Model.SelectedSemesterInput" class="control-label"></label>
                    <select dir="rtl" onchange="$('#yearChangedForm').submit()" asp-for="@Model.SelectedSemesterInput" class="form-select">
                        @foreach (var item in Model?.Semesters)
                        {
                            <option value="@item.SemesterNo">@item.SemesterNo</option>
                        }
                    </select>
                }
            </div>
        </form>
    }
</div>
<div id="addLectureForm" class="d-none">

    <form asp-page-handler="create" method="post">
        <button class="me-4" type="submit">حفظ</button>

        @*اليوم*@
        <input name="dayId" id="dayIdInput" value="" hidden />

        @*الوقت*@
        <input name="timeId" id="timeIdInput" value="" hidden />

        <div dir="rtl" class="form-group">
            <label asp-for="@Model.TeacherId" class="control-label"></label>
            <select asp-for="@Model.TeacherId" class="form-select">
                <option value="">-- اختر مدرس --</option>
                @foreach (var item in Model?.TheoryTeachers)
                {
                    <option value="@item.Id">@item.Name (@item.UserName)</option>
                }
            </select>
            <span class="text-danger" asp-validation-for="@Model.TeacherId"></span>
        </div>


        <div dir="rtl" class="form-group">
            <label asp-for="@Model.CourseId" class="control-label"></label>
            <select asp-for="@Model.CourseId" class="form-select">
                <option value="">-- اختر مقرر --</option>
                @foreach (var item in Model?.TheoryCourses)
                {
                    <option value="@item.Id">@item.Name</option>
                }
            </select>
            <span class="text-danger" asp-validation-for="@Model.CourseId"></span>
        </div>

        <div dir="rtl" class="form-group">
            <label asp-for="@Model.RoomId" class="control-label"></label>
            <select asp-for="@Model.RoomId" class="form-select">
                <option value="">-- اختر قاعة --</option>
                @foreach (var item in Model?.TheoryRooms)
                {
                    <option value="@item.Id">@item.Name</option>
                }
            </select>
            <span class="text-danger" asp-validation-for="@Model.RoomId"></span>
        </div>
    </form>

    <form asp-page-handler="delete" method="post">
        @*معرف المحاضرة*@
        <input name="luctureId" id="luctureIdInput" value="" hidden />

        <button id="deleteBtn" onclick="return confirm('هل تريد فعلاً حذف هذه المحاضرة؟')" hidden type="submit"></button>
    </form>
</div>
<br />
<br />

@if (Model.Days is not null && Model.Times is not null)
{
    <table id="myTable">


        <tr>
            @foreach (var day in Model?.Days)
            {
                <th>@day.Name</th>
            }
            <th>الوقت</th>
        </tr>


        @*---- أسطر ----*@
        @for (int i = 0; i < Model?.Times?.Count; i++)
        {
            <tr>
                @*---- أعمدة  ----*@
                @for (int j = 0; j < Model?.Days?.Count; j++)
                {
                    var lucture = @Model?.Lectures?.FirstOrDefault(l => l.Time.Id == Model.Times[i].Id && l.day.DayNo == Model.Days[j].DayNo && l.course.year.YearNo == Model.SelectedYearInput);
                    if (lucture is not null)
                    {
                        <td data-luctureId="@lucture.Id">
                            @lucture?.course.Name <br>
                            @lucture?.Room.Name <br>
                            د. @lucture?.course?.user.Name?
                        </td>
                    }
                    else
                    {
                        <td data-dayId="@Model?.Days[j]?.DayNo" data-timeId="@Model?.Times[i]?.Id">
                        </td>
                    }

                    if (j == Model?.Days?.Count - 1)
                    {
                        <td>
                            @Model?.Times[i]?.Start <br>
                            @Model?.Times[i]?.End
                        </td>
                    }
                }
            </tr>
        }

    </table>
}

<br>




<script>



   


    var table = document.getElementById("myTable");
    var cells = table.getElementsByTagName("td");
    console.log(cells);
    for (var i = 0; i < cells.length; i++) {
        if (cells[i].getAttribute("data-luctureId") || cells[i].getAttribute("data-dayId")) {

            cells[i].addEventListener("click", function (event) {
                var isSelected = event.target.classList.contains("selected");

                // Remove the "selected" class from any previously selected cells
                var selectedCells = document.querySelectorAll(".selected");
                selectedCells.forEach(function (cell) {
                    cell.classList.remove("selected");
                });

                // If the clicked cell was not selected, add the "selected" class
                if (!isSelected) {
                    event.target.classList.add("selected");
                    $("#addLectureForm").removeClass("d-none");
                }
                else {
                    $("#addLectureForm").addClass("d-none");
                }


                // Retrieve the data-* attribute value from the clicked cell
                if (event.target.getAttribute("data-luctureId")) {
                    //console.log("luctureId = " + event.target.getAttribute("data-luctureId"));
                    let luctureId = event.target.getAttribute("data-luctureId");
                    $("#luctureIdInput").val(luctureId);
                    $("#deleteBtn").click();
                    console.log("luctureId = " + luctureId);

                } else {
                    //console.log("dayId = " + event.target.getAttribute("data-dayId"));

                    //$("#addLectureForm").toggleClass("d-none");

                    let dayId = event.target.getAttribute("data-dayId");
                    let timeId = event.target.getAttribute("data-timeId");
                    $("#dayIdInput").val(dayId);
                    $("#timeIdInput").val(timeId);
                    console.log("day = " + dayId + ", time = " + timeId);
                }
            });

        }

    }

    
</script>


@section Scripts {
    <script type="text/javascript" src="~/js/Admin/schedule.js"></script>
    }
