@page
@model Timetable.RazorWeb.Pages.Admin.theoreticalModel
@{
}


<div class="container">
    <div class="table-container">
        <table id="rooms-table">
            <tr class="mb-5">
                <th>العمليات</th>
                <th>المقرر</th>
                <th>المدرس</th>
            </tr>
            @foreach (var theoryCourse in @Model?.AssignedTheoryCourses)
            {
                <tr>
                    <td>
                        <form method="post" asp-page-handler="Delete" class="inline">
                            <input type="hidden" name="theoryCourseId" value="@theoryCourse.Id">

                            <button onclick="return confirm('هل تريد الحذف فعلاً؟')" type="submit" class="btn btn-sm bg-danger">
                                حذف
                            </button>
                        </form>
                        <a class="btn btn-sm bg-success" asp-page="./edit-theo-dept" asp-route-theoryCourseId="@theoryCourse.Id">تعديل</a>
                    </td>
                    <td>@theoryCourse.Name</td>
                    <td>@theoryCourse?.user?.Name <span class="text-info">(@theoryCourse?.user?.UserName)</span></td>
                </tr>

            }
        </table>
    </div>
    <div class="form-container">
        <form dir="rtl" method="post">

            @*<input type="hidden" asp-for="@Model.courseInputModel.Id" />*@

            <div class="form-group">
                <label asp-for="@Model.TeacherId" class="control-label"></label>
                <select asp-for="@Model.TeacherId" class="form-select">
                    <option value="">-- اختر مدرس --</option>
                    @foreach (var item in Model?.TheoryTeachers)
                    {
                        <option value="@item.Id">@item.Name | @item.UserName</option>
                    }
                </select>
                <span class="text-danger" asp-validation-for="@Model.TeacherId"></span>
            </div>


            <div class="form-group">
                <label asp-for="@Model.CourseId" class="control-label"></label>
                @if (Model?.NotAssignedTheoryCourses.Count != 0)
                {
                    <select asp-for="@Model.CourseId" class="form-select">
                        <option value="">-- اختر مقرر --</option>
                        @foreach (var item in Model?.NotAssignedTheoryCourses)
                        {
                            <option value="@item.Id">@item.Name&ensp;(فصل @item.semester.SemesterNo)&ensp;(سنة @item.year.YearNo)</option>
                        }
                    </select>
                }
                else
                {
                    <select asp-for="@Model.CourseId" class="form-select">
                        <option value="">-- كل المقررات تم اسنادها --</option>
                    </select>
                }
                <span class="text-danger" asp-validation-for="@Model.CourseId"></span>
            </div>

            <div class="form-group">
                <button class="btn btn-primary" type="submit">إسناد</button>
            </div>
        </form>
    </div>

</div>


@section Scripts {
    <script type="text/javascript" src="~/js/Admin/theo-dept.js"></script>
}