@page
@model Timetable.RazorWeb.Pages.Account.LoginModel
@{

}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>LogIn</title>
    <link rel="stylesheet" href="~/lib/bootstrap/css/bootstrap.min.css" />
    @*<link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/Timetable.RazorWeb.styles.css" asp-append-version="true" />*@
    <link href="~/css/account/login.css" rel="stylesheet" />
</head>
<body>

    <div class="login-box">
    <form autocomplete="off" method="post">
        <div dir="rtl" class="form-group">
            <label asp-for="@Model.userName" class="control-label"></label>
            <input dir="ltr" asp-for="@Model.userName" class="form-control" />
            <span asp-validation-for="@Model.userName" class="text-danger"></span>
        </div>

        <div dir="rtl" class="form-group">
            <label asp-for="@Model.password" class="control-label"></label>
            <input dir="ltr" asp-for="@Model.password" class="form-control" />
            <span asp-validation-for="@Model.password" class="text-danger"></span>
        </div>

        <div dir="rtl" class="form-group">
            <input type="checkbox" asp-for="@Model.isPersistent" class="form-check-input " />
            <label asp-for="@Model.isPersistent" class="control-label"></label>
            <span asp-validation-for="@Model.isPersistent" class="text-danger"></span>
        </div>
        
        <div dir="rtl" class="text-danger" asp-validation-summary="All"></div>
        <div dir="rtl"><button class="next" type="submit">تسجيل دخول</button></div>
    </form>
    </div>
    <script src="~/lib/jquery/jquery.min.js"></script>
    <script src="~/lib/bootstrap/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
</body>
</html>