@page
@using Timetable.RazorWeb.Extentions;
@model Timetable.RazorWeb.Pages.Teacher.CoursesModel
@{
    ViewData["Title"] = "courses";
}
<div class="container">
    <div class="main-content">

        @if (Model?.courseOutputModel?.Semesters is null)
        {
            <h1> لا يوجد بيانات بعد </h1>
        }
        else
        {

            <form id="yearChangedForm" asp-page-handler="x" method="post">
                <div class="form-group">
                    <label asp-for="@Model.SelectedSemesterInput" class="control-label"></label>
                    <select onchange="$('#yearChangedForm').submit()" asp-for="@Model.SelectedSemesterInput" class="form-select w-25">
                        @foreach (var item in Model?.courseOutputModel?.Semesters)
                        {
                            <option value="@item.SemesterNo">@item.SemesterNo</option>
                        }
                    </select>
                </div>
            </form>

            @if (Model.courseOutputModel.Courses.Any())
            {
                <table id="courseTable">
                    <thead>
                        <tr>
                            <th>نوع المقرر</th>
                            <th>أختيارية</th>
                            <th>السنة</th>
                            <th>المقرر</th>
                        </tr>
                    </thead>
                    <tbody id="courseTableBody">
                        @foreach (var course in @Model?.courseOutputModel.Courses)
                        {
                            <tr>
                                <td>@EnumExtensions.GetDisplayName(@course.Type)</td>
                                @if (course.IsElective)
                                {
                                    <td>نعم</td>
                                }
                                else
                                {
                                    <td>لا</td>
                                }
                                <td>@course.Year</td>
                                <td>@course.Name</td>
                            </tr>
                        }
                    </tbody>
                </table>
            }
            else
            {
                <h1> لا يوجد مقررات دراسية مُسندة إليك </h1>
            }
        }

    </div>
</div>